.value {
  padding: 0 16px;
  font-family: 'Courier New', Courier, monospace;
  color: #000;
}

.button {
  appearance: none;
  background: none;
  margin-left: 10px;
  padding: 3px 5px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 5px;
  transition: all 0.15s;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

